.form__container{
    background-color: #f3f1ef;
    min-height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 80%;
    min-height: 40vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

