.card { 
    
    
    &__container{
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        padding: .5rem 1rem;
        border-radius: 15px;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
        height: 425px;
    }

    &__img{
        object-fit: contain;
        width: 175px;
        height: 175px;
    }

    &__title, &__category{
        text-align: center;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        color: black;
        
    }


    &__price{
        background-color: aqua;
        padding: 5px;
        border-radius: 5px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 700;
        color: black;
    }

    &__footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}